[submodule "Week_2"]
	path = Week_2
	url = git@github.com:jokswer/Week_2.git
[submodule "Week_3"]
	path = Week_3
	url = git@github.com:jokswer/Week_3.git
[submodule "Week_4"]
	path = Week_4
	url = git@github.com:jokswer/Week_4.git
[submodule "Week_5"]
	path = Week_5
	url = git@github.com:jokswer/Week_5.git
[submodule "Week_11"]
	path = Week_11
	url = git@github.com:jokswer/Week_11.git
